@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');

.pageTitle {
  font-size: 56px;
  color: $rougeBanksy;
  margin: 30px 0 20px;
  font-family: 'Zilla Slab Highlight', cursive;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin: 50px 0 40px;
    font-size: 76px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 70px 0 60px;
    font-size: 196px;
  }
}