@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');


.pageTitle {
  color: red;
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 12px;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    font-size: 76px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 196px;
  }
}