@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import '../styles/variables.scss';

// ================
// Title index page
// ================
.titleIndex {
  font-size: 56px;
  color: $rougeBanksy;
  font-family: 'Monoton', cursive;
  font-weight: 400;
  margin: 30px 0 20px;

  @media (min-width: $breakpoint-tablet) {
    margin: 50px 0 40px;
    font-size: 76px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 70px 0 60px;
    font-size: 196px;
  }
}

// ================
// Responsive video wrapper
// ================
.videoResponsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.videoResponsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
