// ================
// AppFooter wrapper
// ================
.appFooter {
  background: #000;
  color: #fff;
  padding: 50px 0;
}

// ================
// AppFotter balloon girl image
// ================
.appFooterImage {
  max-width: 120px;
  float: right;
}
